:root{
  --clr-black:#111517;
  --clr-secondary-100:#202C36;
  --clr-secondary-200:#2B3844;
  --clr-light:#fff;
  --clr-light-200:#f2f2f2;
  --bg-light-100:(--clr-light);
  --bg-light-200:(--clr-light);
  --bg-dark-100:var(--clr-secondary-100);
  --bg-dark-200:var(--clr-secondary-200);
  --bg-main:var(--bg-light-100);
  --bg-main-100:var(--bg-light-100);
  --bg-main-200:var(--clr-light);
  --text-main:var(--clr-black);
  --ff-main:"Nunito Sans",sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--ff-main);
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button{
  border: 1px solid transparent;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-inline: auto;
  padding-inline: 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* sticky footer */
.site-main {
  min-height: 100vh;
  flex-grow: 1;
  background-color: #f2f2f2;
}

.dark{
  --bg-main:var(--bg-dark-100);
  --bg-main-200:var(--bg-dark-200);
  --text-main:var(--clr-light);
  background-color: var(--bg-main);
}

.countries{
  padding-block: 48px;
}

.site-state{
  font-size: 3rem;
  color: var(--text-main);
}